body {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
}

.inputAndBtn {
  margin-left: 5vh;
  margin-top: 5vh;
}

.inputAndBtn:nth-last-child(2) {
  margin-right: 5rem;
}


.basic-grid {
  margin-left: 10vw;
  margin-right: 10vh;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}


.card {
  cursor: pointer;
  color: white;
  background-color: rgb(62, 62, 62);
  padding: .5rem .5rem;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
}

.card:hover {
  background-color: rgb(42, 42, 42);
}

.btn {
  font-size: 1rem;
  padding: 1em;
  color: white;
  background-color: rgb(62, 62, 62);
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn:hover {
  background-color: rgb(49, 49, 49);
}

.btn-delete:hover {
  background-color: rgb(49, 49, 49);
}

.btn-delete {
  
  padding: .5em;
  color: white;
  background-color: rgb(62, 62, 62);
  border: none;
  cursor: pointer;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
}

.spacer {
  height: 5vh;

}

.input {
  padding: .5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

@media screen and (max-width:450px) {
  .card {
    font-size: 1rem;
  }

  .basic-grid {
    margin-left: 10vw;
    margin-right: 10vh;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

}